body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

input, textarea, select {
  background: #1b1b1b;
  color: #fff;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 5px;
}

button {
  padding: 8px 12px;
  background: #00bfff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.card {
  background: #1b1b1b;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
  transition: .2s;
}
.card:hover { transform: scale(1.05); }

.navbar {
  background: #121212;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
