.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}
.login-card {
  background: white;
  padding: 35px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}
.login-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}
.login-input:focus {
  border-color: #2196f3;
}
.login-button {
  padding: 10px;
  background-color: #0b6fe8;
  border: none;
  color: white;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.login-button:hover {
  background-color: #0d47a1;
}
.login-link {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
  color: #19496e;
  font-size: 14px;
}
.login-link:hover {
  text-decoration: underline;
}
.login-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.login-label {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 12px;
}